[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AMCP"]
	path = AMCP
	url = https://github.com/yelleknek/amcp
[submodule "BUCSS"]
	path = BUCSS
	url = https://github.com/yelleknek/bucss
[submodule "MBESS"]
	path = MBESS
	url = https://github.com/yelleknek/mbess
